body {
    background-image: url(./assets/more-leaves-on-green.png);
}
img {
    margin-top: 80px;
    height: 250px;
}
.flowershopheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    height: 70px;
    text-align: center;
    background-image: url();
    background-size: cover;
    margin-bottom: 70px;
    box-sizing: border-box;
}
img[alt~="hearted"] {
    border: 1px solid black;
    height: 30px;
}
